@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Expanded:wght@300&display=swap');

$endode-sans-semi-expanded:'Encode Sans Semi Expanded', sans-serif;
$dark-green: #264e2c;
$unsaturated-dark-green: #A8B8AA;
$transparent-black: rgba(0,0,0,0.75);

$spot-logo-font: $endode-sans-semi-expanded;
$spot-border-color: $dark-green;
$button-color: $dark-green;
$button-background-color: $unsaturated-dark-green;
$nav-color: $dark-green;
$form-background-color: $transparent-black;
$form-font-color: white;
